<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="admin/base::Layout(~{::section})">
<head>
<title>welcome</title>
</head>
<body>

<section class="banner d-flex justify-content-center align-items-center">

<div class="container text-center">

	<div class="row-md-6">

		<div class="col-md-6 offset-md-2">
			<div class="my-card mt-2 mb-2">
			<div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
  				<p class="text-center" th:text="${session.message.content}"></p>
  				<th:block th:text="${#session.removeAttribute('message')}"></th:block>
			</div>

				<h1 class="text-center">Add Movies</h1>
				
<form th:object="${movie}" action="#" th:action="@{/movieadmin/save-movie}" method="post"   class="text-center">
  	<div class="form-group">
    	<label for="movieName">Movie Name</label>
    	<input type="text" class="form-control " th:classappend="${#fields.hasErrors('movieName') ? 'is-invalid':''}" id="movieName" aria-describedby="emailHelp" name="movieName" placeholder="Enter Name" th:value="${movie.movieName}">
    	
  	</div>
  	
  	 <div class="invalid-feedback" th:each="e :${#fields.errors('movieName')}" th:text="${e}">
        
      </div>
      
  	<div class="form-group">
    	<label for="rating">Rating</label>
    	<input type="text" class="form-control" id="rating" name="rating" placeholder="Rate" th:value="${movie.rating}">
  	</div>
  	
  	<div class="form-group">
    	<label for="yearReleased">Year Released</label>
    	<input type="text" class="form-control" id="yearReleased" name="yearReleased" placeholder="yearReleased" th:value="${movie.yearReleased}">
  	</div>
  	
  	<div class="form-group">
    	<label for="about">About</label>
    	<input type="text" class="form-control" id="about" name="about" placeholder="about" th:value="${movie.about}">
  	</div>
  	
  	
  	
  	
  	<div class="container text-center">
  	
  	<button type="submit" class="btn bg-primary text-white">Add</button>
	<button type="reset" class="btn bg-primary text-white btn-warning">Reset</button>
  	
  	</div>
</form>
		
			</div>
		</div>
	</div>

</div>
</section>


</body>
</html>