<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="admin/base::Layout(~{::section})">
<head>
<title>welcome</title>
</head>
<body>

<section class="banner d-flex justify-content-center align-items-center">


<div class="card">

	<div class="card-body">
	 	<div class="text center">All Movies</div>
	 	
	 	<table class="table">
  			<thead>
   				 <tr>
   				   <th scope="col">Id</th>
			      <th scope="col">Movie Name</th>
			      <th scope="col">Rating</th>
			      <th scope="col">Year</th>
			       <th scope="col">About</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr th:each="m : ${movies}">
			    <td>
			      	<span th:text="${m.mid}"></span>
			     
			      </td>
			      <td>
			      	<span th:text="${m.movieName}"></span>
			      
			      </td>
			      <td>
			      
			      
			      <span th:text="${m.rating}"></span>
			      
			      
			      </td>
			      <td th:text="${m.yearReleased}"></td>
			      
			      <td th:text="${m.about}">
			      
			      	
			      </td>
			      
			      <td>
			       <a th:href = "@{'/movieadmin/delete/' + ${m.mid}}" class="btn btn-danger btn-sm">Delete</a>
			      	<br>
			      </td>
			    </tr>
			    
			    
			  </tbody>
</table>
	
	
	
	</div>

</div>
</section>


</body>
</html>